html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin-bottom: 50px;
  padding-top: 50px;
  color: #244751;
  font-family: 'Roboto Condensed', sans-serif;
}


.parallax {
  background: url('design3.png') no-repeat fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 700px;
}

.parallax2 {
  background: url('design4.png') no-repeat fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px;
}

.wrapper {
  padding-right: 100px;
  padding-left: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.main-about {
  padding: 40px 100px 20px 100px;
}

img.curve {
  -webkit-shape-outside: url(https://media.licdn.com/dms/image/C5603AQE5IRiFUG6Gyg/profile-displayphoto-shrink_100_100/0?e=1539216000&v=beta&t=u3j1suZySxf0iyBr84teNZsHp7wBBsyFNvA-L--6BPg);
  border-radius: 50%;
  width: 220px;
  height: 220px;
  float: left;
  border: 5px;
  border-color: lightgrey;
  border-style: solid;
  border-width: thin;
}

.contact-info {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}

.contact-column {
  display: flex;
  max-width: fit-content;
  justify-content: center;
  flex-direction: column;
  /* background-color: white;*/
  padding: 10px;
  border-radius: 10px;
}

.contact-title,
.button-wrapper {
  align-self: center;
}


/*Margin for the buttons
*/

.override {
  margin: 5px;
}

.collapse-wrapper {
  display: flex;
  justify-content: space-between;
}

#collapse-linkedin {
  margin-left: 420px;
}

.card-override {
  max-width: fit-content;
  padding: 5px;
}

a {
  color: black;
}

p {
  padding-left: 10px;
  margin: 0;
}

p.about.text {
  padding: 0px 10px 0px 10px;
  font-size: 15px;
  text-align: left;
  margin: 0;
}

.skills-col {
  color: grey;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  margin-top: 20px;
}

.skill-list {
  list-style: none;
  padding: 0;
  text-align: center;
  display: block;
}

.skill-item {
  display: inline-block;
  width: 8rem;
  padding: 10px;
  margin: 10px;
  background: white;
  text-align: center;
  border-radius: 10px;
}

.wrapper-columns {
  padding-right: 100px;
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

#skills {
  margin-top: 10px;
  text-align: center;
  color: white;
}

.col-md-7 {
  padding-top: 20px;
  padding-bottom: 20px;
  border-width: solid;
  border-color: lightgrey;
  border-style: solid;
  border-radius: 3em;
  height: 80%;
  margin: 30px 0px 5px 15px;
  background-color: white;
  opacity: 0.7;
}

@media (max-width: 1150px) {
  .button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #bootstrap-override {
    -ms-flex: 0;
    flex: auto;
    max-width: fit-content;
    width: auto;
  }
  #collapse-linkedin {
    margin-left: 0px;
  }
}